@media (max-width: 1199px) {
   html {
      font-size: 8px;
   }   

   /* .close-menu{
      display: none;
   } */
}

@media (max-width: 991px) {
   html {
      font-size: 7px;
   }
   .visible-lg {
      display: none;
   }
   .m-menu-link {
      display: block;
   }
   .about {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 90vh;
      padding: 2%;
   }
   .about-image img {
      max-width: 80%;
      max-height: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
   }
   .about-text {
      width: 95%;
   }
   .crosfit {
      color: #fff;
      font-size: 1.8rem;
      height: 70vh;
      padding: 8%;
      text-align: center;
      background: url(../img/main.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .crosfit-text {
      width: 95%;
      margin: 0 auto;
   }
   .question {
      height: 120vh;
      padding: 2%;
   }
   .question-text {
      margin: 0 auto;
      width: 90%;
   }
   .contacts {
      height: 60vh;
   }
   .contacts-text {
      width: 95%;
   }
   .close-menu {
      display: block;
   }
}